# local env files
.env
.env.*
!.env.example

# dependencies
/node_modules
/vendor

# production
/build

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db

# backups y archivos locales no necesarios en Git
utilities/
*.bak
*.tmp
*.orig

# vercel
.vercel

# Archivos minificados y generados por el build
/css/style.min.css
/js/main.min.js
/webfonts